@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/public/assets/24.jpg);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

:root {
  --primary-color: #433878;
  --secondary-color: #7e60bf;
  --third-color: #e4b1f0;
}
